{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Ratepay Profile overview' %}

{% block head_title widget_title | trans %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tr>
                            <th>{{ "Information:" | trans }}</th>
                            <td><a href="#">{{ profile }}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endblock %}

    {% endembed %}

{% endblock %}
